@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic,900);

ul.ul3,
ul.ul3 ul {
  font-family: "Titillium Web";
  list-style-type: none;
  padding: 0;
}

ul.ul3 ul,
ul.ul3 dl,
ul.ul3 dl > dd {
  margin-left: 30px;
}

ul.ul3 > li {
  font-size: 3em;
  font-weight: 700;
}

ul.ul3 > li > ul > li,
ul.ul3 > li > ul > li > dl > dt {
  font-size: 0.85em;
  font-weight: 600;
}

ul.ul3 > li > ul > li > dl > dd {
  font-size: 0.5em;
  font-weight: 400;
}

.custom-row {
  margin: 5px
}

input[type='checkbox'].medium {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0;
}

span.medium {
	font: 400 22px "Titillium Web";
	vertical-align: middle;
}

div.frame-container label {
  font: 400 22px "Titillium Web";
  vertical-align: middle;
  margin: 0;
  margin-bottom: 2px;
  text-indent: 8px;
}

h1 {
  font: 700 3.5em "Titillium Web";
}

h3 {
  font: 700 2em "Titillium Web";
}


div.frame-container {
  display: block;
  overflow: auto;
  height: 50vh;
  width: 100;
  padding: 8px 14px;
  box-shadow: 0 0 5px #79a6d2;
  
}

div.toolset {
  margin: 10px auto;
}

header > nav {
  height: 58px;
}

header .navbar-nav > li > a {
  padding-top: 19px;
  padding-bottom: 19px;
  
}

header .navbar-nav > li > a.bigger-icon {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 58px;
}

header .navbar-inverse .navbar-nav>li>a {
    color: #d6d6d6;
}


header .navbar-inverse .navbar-nav>li>a:hover,
header .navbar-inverse .navbar-nav>li>a:focus,
header .navbar-inverse .navbar-nav>.open>a,
header .navbar-inverse .navbar-nav>.open>a:hover,
header .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #666;
}


header .navbar-header .navbar-brand {
  height: 58px;
  padding-top: 12px;
  padding-bottom: 18px
  
}

.inner-button {
	vertical-align: middle;
	font-size: 1.5em;
}

.vertically-spaced {
	margin-bottom: 20px;
}